.nav {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: blue;
}

.nav_head{
  width: fit-content;
  font-size: 30px;
  font-weight: bold;
}

.nav_links {
  width: fit-content;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: space-evenly;
}

form {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: blueviolet;
  padding: 25px;
  border-radius: 30px;
}

div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  width: 100px;
  height: 30px;
  background-color: rgb(34, 2, 63);
  outline: none;
  border: none;
  color: white;
}

input {
  padding: 10px;
  background: transparent;
  outline: none;
  border: 2px solid white;
}